<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <ul>
    <% for (url in urls) { %>
    <li>
      <%= url %> &#8594; <a href="<%= urls[url] %>"><%= urls[url] %></a>
      <form method="POST" action="/urls/<%= url %>/delete">
      <button type="submit">Delete</button>
      </form>
    </li>
    <% } %>
  </ul>

  <a href="#"> Create new shortened link </a>
</body>
</html>

