<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_bootstrap %>
  </head>
  <% include partials/_body %>
  <% include partials/_header %>

  <h1>SHORTURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a> </h1>

  <form method="POST" action="/urls/<%= shortURL %>/edit">
    <label for="longURL">Long URL</label>
      <input type="text" value="<%= longURL %>" id="longURL" name="longURL">
    <button type="submit">UPDATE</button>
  </form>
</body>
</html>

