<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <h1>User Registration</h1>
    <form method="POST">
      <label for="email">
        <input id="email" type="email" name="password">
      </label>
      <label for="password">
        <input type="password" name="password">
      </label>
      <button type="submit">Submit</button>

    </form>
</body>
</html>

