<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <h1>User Registration</h1>
    <form method="POST" action="/register">
      <label for="email">E-mail</label>
      <input id="email" type="email" name="password">

      <label for="password">Password</label>
      <input type="password" name="password">
      <button type="submit">Submit</button>

    </form>
</body>
</html>

