<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <h1>User Registration</h1>

  <form method="GET" action="">
    <label for="longURL">Long URL</label>
      <input type="text" value="<%= longURL %>" id="longURL" name="longURL">
    <button type="submit">UPDATE</button>
  </form>
</body>
</html>

